.cs {
  &_p {
    cursor: pointer;
  }
  &_na {
    cursor: not-allowed;
  }
}

@for $num from 0 through 10 {
  // 层级
  .zi_#{$num} {
    z-index: #{$num};
  }
  // 透明度
  .op_#{$num} {
    opacity: 0.1 * $num;
  }
}
