.pd {
    @for $num from 0 through 100 {
        @each $key, $value in $abridge {
            &-#{$key}_#{$num} {
                padding-#{$value}: #{$num}px;
            }
        }
        &_#{$num} {
            padding: #{$num}px;
        }
        &-v_#{$num} {
            padding-top: #{$num}px;
            padding-bottom: #{$num}px;
        }
        &-h_#{$num} {
            padding-left: #{$num}px;
            padding-right: #{$num}px;
        }
    }
    &-v_a {
        padding: auto 0;
    }
    &-h_a {
        padding: 0 auto;
    }
}