.pt {
  &_r {
    position: relative;
  }
  &_a {
    position: absolute;
  }
  &_f {
    position: fixed;
  }
  &_s {
    position: sticky;
  }
}

@for $num from 0 through 100 {
  @if (($num % 2 == 0) or $notFilterOdd) {
    @each $key, $value in $directionMap {
      .#{$key}_#{$num} {
        #{$value}: #{$num}px;
      }
    }
  }
}
