// 方向
$directionMap: (
  "t": "top",
  "b": "bottom",
  "l": "left",
  "r": "right",
);

// 排列
$arrangement: (
  s: flex-start,
  c: center,
  e: flex-end,
  sb: space-between,
  sa: space-around,
);

// 单位
$unit: "px" !default;

$baseMaxNum: 100 !default; // 基础数值
$borderMaxNum: 10 !default; // 圆角数值
$fontMaxNum: 60 !default; // 字体数值

// 不过滤奇数数值的原子类
$notFilterOdd: false !default;

// 打包部分模块
$isPackPadding: true !default;
$isPackMargin: true !default;
$isPackWidth: true !default;
$isPackHeight: true !default;
$isPackFont: true !default;
$isPackPositionValue: true !default;
