// 是否过滤奇数数值的原子类
$notFilterOdd: true;

// 方向
$directionMap: (
  "t": "top",
  "b": "bottom",
  "l": "left",
  "r": "right",
);

// 排列
$arrangement: (
  s: flex-start,
  c: center,
  e: flex-end,
  sb: space-between,
  sa: space-around,
);
